/*font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;*/

:root {
  --branding-color: #6667ab;
  --secondary-color: #ffffff;
}

.hero {
  background-color: black;
}

.designer-photo {
  max-width: 200px;
}

.introduction {
  text-align: center;
}

h1 {
  color: var(--secondary-color);
}

h2 {
  color: var(--branding-color);
}
