/*font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;*/

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

:root {
  --branding-color: #ffc93c;
  --secondary-color: #ffffff;
}

.hero {
  background-color: black;
}

.container {
  margin: auto;
}

.heading-text {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-align: center;
  margin: auto;
  padding: 50px;
}

.photo {
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-color: black;
}

h1 {
  color: var(--secondary-color);
}

h2 {
  color: var(--branding-color);
}

h3 {
  color: #ffffff;
}

ul {
  list-style: none;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  padding: 0px;
}

p {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: auto;
  color: #ffffff;
}

.primary-button {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-align: center;
  margin-top: 30px;
}

.designer-photo {
  max-width: 200px;
}

.question,
.bold-yellow {
  font-weight: bold;
  color: var(--branding-color);
  text-align: center;
}

.skills-photo {
  max-width: 50%;
}

.description {
  padding: 20px;
}

footer {
  margin: 10px;
}

footer .footer-email {
  color: #ffffff;
  padding: 10px;
}

footer a:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 10px;

  color: var(--branding-color);
}

@media (max-width: 600px) {
  .designer-photo {
    float: left !important;
    max-width: inherit;
    display: block;
    margin: 50px;
  }

  .description {
    padding: 20px;
  }
}

@media (max-width: 1000px) {
  .container {
    padding: 10px;
  }
}

@media (max-width: 325px) {
  .designer-photo {
    display: none;
  }

  .hero-button {
    font-size: 10px;
  }
}
